# Base config derived from grobid-full.yaml
grobid:
  grobidHome: "grobid-home"
  temp: "tmp"
  nativelibrary: "lib"
  pdf:
    pdfalto:
      path: "pdfalto"
      memoryLimitMb: 6096
      timeoutSec: 120
    blocksMax: 200000
    tokensMax: 1000000
  consolidation:
    service: "crossref"
    crossref:
      timeoutSec: 60
  corsAllowedOrigins: "*"
  corsAllowedMethods: "OPTIONS,GET,PUT,POST,DELETE,HEAD"
  corsAllowedHeaders: "X-Requested-With,Content-Type,Accept,Origin"
  languageDetectorFactory: "org.grobid.core.lang.impl.CybozuLanguageDetectorFactory"
  sentenceDetectorFactory: "org.grobid.core.lang.impl.OpenNLPSentenceDetectorFactory"
  concurrency: {{ grobid_concurrency }}
  poolMaxWait: {{ grobid_pool_max_wait }}
  wapiti:
    nbThreads: 0
  modelPreload: true
  models:
    - name: "segmentation"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0000001
        window: 50
        nbMaxIterations: 2000

    - name: "segmentation-article-light"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0000001
        window: 50
        nbMaxIterations: 2000

    - name: "segmentation-article-light-ref"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0000001
        window: 50
        nbMaxIterations: 2000

    - name: "segmentation-sdo-ietf"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0000001
        window: 50
        nbMaxIterations: 2000

    - name: "fulltext"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0001
        window: 20
        nbMaxIterations: 1500

    - name: "header"
      engine: "wapiti"
      wapiti:
        epsilon: 0.000001
        window: 30
        nbMaxIterations: 1500

    - name: "header-article-light"
      engine: "wapiti"
      wapiti:
        epsilon: 0.000001
        window: 30
        nbMaxIterations: 1500

    - name: "header-article-light-ref"
      engine: "wapiti"
      wapiti:
        epsilon: 0.000001
        window: 30
        nbMaxIterations: 1500

    - name: "header-sdo-ietf"
      engine: "wapiti"
      wapiti:
        epsilon: 0.000001
        window: 30
        nbMaxIterations: 1500

    - name: "reference-segmenter"
      engine: "wapiti"
      wapiti:
        epsilon: 0.00001
        window: 20

    - name: "name-header"
      engine: "wapiti"

    - name: "name-citation"
      engine: "wapiti"

    - name: "date"
      engine: "wapiti"

    - name: "figure"
      engine: "wapiti"
      wapiti:
        epsilon: 0.00001
        window: 20

    - name: "table"
      engine: "wapiti"
      wapiti:
        epsilon: 0.00001
        window: 20

    - name: "affiliation-address"
      engine: "wapiti"

    - name: "citation"
      engine: "wapiti"
      wapiti:
        epsilon: 0.00001
        window: 50
        nbMaxIterations: 3000

    - name: "patent-citation"
      engine: "wapiti"
      wapiti:
        epsilon: 0.0001
        window: 20

    - name: "funding-acknowledgement"
      engine: "wapiti"
      wapiti:
        epsilon: 0.00001
        window: 50
        nbMaxIterations: 2000

    - name: "copyright"
      engine: "wapiti"

    - name: "license"
      engine: "wapiti"
      
server:
  type: custom
  applicationConnectors:
    - type: http
      port: {{ grobid_port }}
  adminConnectors:
    - type: http
      port: 8071
  registerDefaultExceptionMappers: false
  requestLog:
    appenders: []

logging:
  level: INFO
  loggers:
    org.apache.pdfbox.pdmodel.font.PDSimpleFont: "OFF"
    org.glassfish.jersey.internal: "OFF"
    com.squarespace.jersey2.guice.JerseyGuiceUtils: "OFF"
  appenders:
    - type: console
      threshold: WARN
      timeZone: UTC