[Unit]
Description=Prefect Server
After=network-online.target
Wants=network-online.target

[Service]
User=almalinux
ExecStart={{ pipeline_venv_dir }}/bin/prefect server start \
    --host {{ prefect_server_host }} \
    --port {{ prefect_server_port }}
Restart=on-failure
RestartSec=5
Environment=HOME={{ home_path }}

[Install]
WantedBy=multi-user.target