[Unit]
Description=Dask Worker
After=network-online.target
Wants=network-online.target

[Service]
User=almalinux
ExecStart={{ pipeline_venv_dir }}/bin/dask worker {{ dask_scheduler_url }} \
    --nworkers {{ dask_worker_nworkers }} \
    --nthreads {{ dask_worker_nthreads }} \
    --memory-limit {{ dask_worker_memory_limit }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target